<div class="login-panel" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="login()" fxLayout="column">
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailCtrl" type="email" required>
        </mat-form-field>
        <mat-error *ngIf="loginForm.get('emailCtrl')!.hasError('email')">
          Le courriel n'est pas valide
        </mat-error>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Connexion</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
