<h1>Scénarios</h1>

<div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="30px">
  <mat-card fxFlex="40">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon matSuffix fontSet="material-icons-outlined">directions_bus_outlined</mat-icon>
      </div>
      <mat-card-title>Transport en commun</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <h4>Trajet</h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">timer</mat-icon>
          <em>Temps transport:</em> 43 min
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">route</mat-icon>
          <em>Kilométrage parcourue:</em> 7.8 km
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">co2</mat-icon>
          <em>CO<sub>2</sub>:</em> 278 g
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <h4>Annuel (5 jours/semaine)</h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">timer</mat-icon>
          <em>Temps transport:</em> 43 min
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">route</mat-icon>
          <em>Kilométrage parcourue:</em> 7.8 km
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">co2</mat-icon>
          <em>CO<sub>2</sub>:</em> 278 g
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="40">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon matSuffix fontSet="material-icons-outlined">directions_car</mat-icon>
      </div>
      <mat-card-title>Voiture</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <h4>Trajet</h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">timer</mat-icon>
          <em>Temps transport:</em> 43 min
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">route</mat-icon>
          <em>Kilométrage parcourue:</em> 7.8 km
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">co2</mat-icon>
          <em>CO<sub>2</sub>:</em> 278 g
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <h4>Annuel (5 jours/semaine)</h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">timer</mat-icon>
          <em>Temps transport:</em> 43 min
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">route</mat-icon>
          <em>Kilométrage parcourue:</em> 7.8 km
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">co2</mat-icon>
          <em>CO<sub>2</sub>:</em> 278 g
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
