<mat-toolbar routerLink="/calculator">
  <img src="../../../assets/logo.jpg" height="50px" />
</mat-toolbar>

<!-- TODO Afficher origin et destination -->

<h1>Scénarios</h1>

<div fxLayout.gt-xs="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly">
  <mat-card fxFlex="40" *ngFor="let scenario of scenarios">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon matSuffix fontSet="material-icons-outlined">{{scenario.travelIcon}}</mat-icon>
      </div>
      <mat-card-title>{{scenario.travelMode}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <h4>Trajet</h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">timer</mat-icon>
          <em>Temps transport:</em> {{scenario.route.durationText}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">route</mat-icon>
          <em>Distance parcourue:</em> {{scenario.route.distanceText}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">co2</mat-icon>
          <em>CO<sub>2</sub>:</em> {{calculateGESInGrams(scenario) | number }} g
          <!-- TODO Convert to kg -->
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <h4>Annuel (5 jours/semaine)</h4>
      <mat-list>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">timer</mat-icon>
          <em>Temps transport:</em> {{annualize(scenario.route.durationInSeconds) | durationFormat }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">route</mat-icon>
          <em>Distance parcourue:</em> {{annualize(scenario.route.distanceInMeters) | distanceFormat | number }} km
        </mat-list-item>
        <mat-list-item>
          <mat-icon matSuffix fontSet="material-icons-outlined">co2</mat-icon>
          <!-- TODO Convert to kg ? -->
          <em>CO<sub>2</sub>:</em> {{annualize(calculateGESInGrams(scenario)) | number }} g
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
