mat-toolbar {
  background: linear-gradient(41deg, #2396ef 0%, #319cf3 100%);
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

mat-card {
  margin: 0 20px 30px 20px;

  mat-card-content {
    h4 {
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 0;
    }

    mat-list-item {
      font-weight: 200;

      mat-icon {
        margin-right: 10px;
      }

      em {
        font-style: normal;
        font-weight: 400;

        @media screen and (max-width: 599px) {
          min-width: 150px;
        }
        @media screen and (min-width: 600px) {
          min-width: 200px;
        }
      }
    }
  }
}
