

$primary-palette: (
  50 : #e5f2fd,
  100 : #bde0fa,
  200 : #91cbf7,
  300 : #65b6f4,
  400 : #44a6f1,
  500 : #2396ef,
  600 : #1f8eed,
  700 : #1a83eb,
  800 : #1579e8,
  900 : #0c68e4,
  A100 : #ffffff,
  A200 : #dbe9ff,
  A400 : #a8c9ff,
  A700 : #8fbaff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
