<mat-toolbar routerLink="/calculator">
  <img src="../../../assets/logo.jpg" height="50px" />
</mat-toolbar>

<h1>Calculer vos scénarios de GES pour votre transport quotidien</h1>

<div class="page-body" fxLayout="row" fxLayoutAlign="space-around">
  <form [formGroup]="gesForm" (submit)="calculateGES()">
    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <mat-form-field appearance="legacy" floatLabel="always">
        <mat-label>Adresse de départ</mat-label>
        <input matInput formControlName="originAddressCtrl" [matAutocomplete]="originAddressAuto" required>
        <mat-icon matSuffix fontSet="material-icons-outlined">home_pin</mat-icon>
        <mat-autocomplete #originAddressAuto="matAutocomplete" panelWidth="auto" [displayWith]="addressDisplayFn">
          <mat-option *ngFor="let result of originAddressResults" [value]="result">
            <span class="address" [matTooltip]="result.name">{{result.name}}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!gesForm.get('originAddressCtrl')!.hasError('required') && gesForm.get('originAddressCtrl')!.hasError('missingLatLon')">
          Missing origin address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" floatLabel="always">
        <mat-label>Adresse d'arrivée</mat-label>
        <input matInput formControlName="destinationAddressCtrl" [matAutocomplete]="destinationAddressAuto" required>
        <mat-icon matSuffix fontSet="material-icons-outlined">location_on</mat-icon>
        <mat-autocomplete #destinationAddressAuto="matAutocomplete" panelWidth="auto" [displayWith]="addressDisplayFn">
          <mat-option *ngFor="let result of destinationAddressResults" [value]="result">
            <span class="address" [matTooltip]="result.name">{{result.name}}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!gesForm.get('destinationAddressCtrl')!.hasError('required') && gesForm.get('destinationAddressCtrl')!.hasError('missingLatLon')">
          Missing origin address
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="start">
      <mat-form-field appearance="legacy">
        <mat-label>Moyen de transport</mat-label>
        <mat-select formControlName="transportationModeCtrl">
          <mat-option *ngFor="let mode of transportationModes" [value]="mode">
            {{mode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="['Voiture', 'Covoiturage'].indexOf(gesForm.get('transportationModeCtrl')?.value) > -1" formGroupName="carFormGroup">
      <h3>Spécifications de la voiture</h3>
      <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <mat-form-field appearance="legacy">
          <mat-label>Année</mat-label>
          <mat-select formControlName="yearCtrl" (selectionChange)="loadCarModels()">
            <mat-option *ngFor="let year of carService.retrieveCarYears() | async" [value]="year">{{year}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Marque</mat-label>
          <mat-select formControlName="makeCtrl" (selectionChange)="loadCarModels()">
            <mat-option *ngFor="let make of carMakes$ | async" [value]="make">{{make}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Modèle</mat-label>
          <mat-select formControlName="modelCtrl">
            <mat-option *ngFor="let model of carModels$ | async" [value]="model">{{model.model}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="publicTransitGroup">
      <h3>Exigences de transport en commun</h3>
      <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Heure départ</mat-label>
          <input matInput [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly formControlName="departTimeCtrl">
          <ngx-material-timepicker-toggle [for]="toggleTimepicker" matSuffix></ngx-material-timepicker-toggle>
        </mat-form-field>
        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Temps maximal (minutes)</mat-label>
          <input matInput type="number" formControlName="maximumTimeCtrl">
          <mat-icon matSuffix fontSet="material-icons-outlined">timer</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Maximum de transferts</mat-label>
          <input matInput type="number" formControlName="maximumTransfersCtrl">
          <mat-icon matSuffix fontSet="material-icons-outlined">directions_bus_outlined</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="actions" fxLayout="row" fxLayoutAlign="space-around">
      <button mat-raised-button color="primary" type="submit" [disabled]="gesForm.invalid">Calculer mes GES</button>
    </div>
  </form>

  <!-- TODO Nombre journées télétravail ?? -->
</div>
